<main>
  <%= flash[:success] %>
  <div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>profile</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg" %>

   <table class="table">
   <tbody>
      <tr></tr>
      <tr>
	     <th>nick_name</th>
	     <th><%= @user.nick_name %></th>
      </tr>
      <tr>
	     <th>introduction</th>
	     <th><%= @user.introduction %></th>
      </tr>
    </tbody>
   </table>

<div class="row">
  <%= link_to "",edit_user_path(@user.id),class:"btn btn-outline-secondary btn-block fas fa-user-cog" %>
</div>
      <h1>New Upload</h1>
   <%= form_with model:@animals, url: animals_path, local:true do |f| %>
  <h4>Title</h4>
   <%= f.text_field :title %>
  <h4>Opinion</h4>
   <%= f.text_area :body %>
   <%= f.submit 'Animal Upload' %>
  <% end %>

    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Animal</h2>
      <table class="table table-hover table-inverse">

          <tbody>
          <tr>
              <td><%= link_to user_path(@animal.user_id) do %>
               <%= attachment_image_tag @animal.user, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg"%><br>
                 <%= @animal.user.nick_name %>
               <% end %></td>
           <td><%= link_to @animal.title, animal_path(@animal.id) %></td>
           <td><%= @animal.body %></td>
           <% if @animal.user_id == current_user.id %>
            　<td><%= link_to "Edit", edit_animal_path(@animal) %></td>
            <% end %>

           <td><% if @animal.user == current_user %>
               <%= link_to "Destroy", animal_path(@animal), method: :delete %>
               <% end %>
           </td>
          </tr>

          </tbody>
      </table>
          </div>
        </div>
      </div>
  </main>
      </body>